---
import Topbar from "../components/Topbar.astro";
import Footer from "../components/Footer.astro";
import RecentCards from "../components/RecentCards.astro";
import "../styles/global.css";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_TITLE_DEVANAGRI,
  SITE_DESCRIPTION_DEVANAGRI,
  SITE_TITLE_SEPARATOR,
  DEFAULT_ARTICLE_IMAGE,
} from "../utils/consts.ts";
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';
import BrahmaImage from '../media/homepage/brahma_image.png';
import CosmosBackground from '../media/homepage/cosmos.mp4';

import MetadataHead from "../components/MetadataHead.astro";

const allpages = (await getCollection("page")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const featuredPages = allpages.filter((page) => page.data.featured);
const nonFeaturedPages = allpages.filter((page) => !page.data.featured);
const pages = [...featuredPages, ...nonFeaturedPages];

const ogSiteName = `${SITE_TITLE_DEVANAGRI} ${SITE_TITLE_SEPARATOR} ${SITE_TITLE}`;
const ogSiteDescription = `${SITE_DESCRIPTION_DEVANAGRI} ${SITE_TITLE_SEPARATOR} ${SITE_DESCRIPTION}`;
const ogArticleImage = new URL(DEFAULT_ARTICLE_IMAGE, Astro.url);

const ldSchema = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  publisher: {
    "@type": "Organization",
    name: ogSiteName,
    url: "https://brahmadev.in/",
    logo: {
      "@type": "ImageObject",
      url: "https://brahmadev.in/assets/images/brahma-icon.png",
      width: 60,
      height: 60,
    },
  },
  url: "https://brahmadev.in/",
  image: {
    "@type": "ImageObject",
    url: ogArticleImage,
    width: 1000,
    height: 661,
  },
  mainEntityOfPage: "https://brahmadev.in/",
  description: ogSiteDescription,
};
---

<!doctype html>
<html lang="en">
  <head>
    <MetadataHead />

    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

    <title>{ogSiteName}</title>

    <link rel="preload" href={BrahmaImage.src} as="image" />
    <link rel="preload" href={CosmosBackground} as="video" />

    <meta name="title" lang="en" content={SITE_TITLE} />
    <meta name="description" lang="en" content={SITE_DESCRIPTION} />

    <meta name="title" lang="hi" content={SITE_TITLE_DEVANAGRI} />
    <meta name="description" lang="hi" content={SITE_DESCRIPTION_DEVANAGRI} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={ogSiteName} />
    <meta property="og:site_name" content={ogSiteName} />
    <meta property="og:description" content={ogSiteDescription} />

    <meta property="og:image" content={ogArticleImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={ogSiteName} />
    <meta property="twitter:description" content={ogSiteDescription} />

    <meta property="twitter:image" content={ogArticleImage} />

    <style>
      .bg-video {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .bg-video-content {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      video {
        object-fit: cover;
        filter: brightness(80%);
        opacity: 0.8;
      }
    </style>
     <script type="application/ld+json" set:html={JSON.stringify(ldSchema)}>
     </script>
     
  </head>

  <body
    class="bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))]
   from-gray-700 via-gray-900 to-black min-h-screen"
  >
    <Topbar />

    <div class="bg-video">
      <video class="bg-video-content" autoplay muted loop>
        <source src={CosmosBackground} type="video/mp4" />
      </video>
    </div>

    <section class="w-full">
      {/* ON TOP */}
      <div class="w-full mx-auto flex items-center justify-center">
       

        <Image src={BrahmaImage} alt="Brahma Deva Image" 
          style="margin-top: 5.1rem;"
        class="md:w-64 w-36"/>

      </div>

      <div
        class="mx-auto md:px-16 md:py-4 sm:px-14 sm:py-3 sm:mt-3
         px-8 py-3 mt-2 shadow rounded-xl border border-slate-700/10
          text-center bg-slate-700/50 w-fit"
      >
        <h1
          id="site-description"
          class="text-white md:text-xl sm:text-lg text-md"
        >
          The Rare Collection of Stotras, Kavach, Suktam & Stutis <br />
           Dedicated to
          <span class="text-yellow-300">Supreme Lord Brahma Dev</span>.
        </h1>
      </div>

      <div class="w-full items-center flex justify-center">
        <a
          href="/tags"
          class="flex mx-auto bg-orange-500 hover:bg-orange-600 mt-4 py-2 px-6 text-white font-bold rounded-full shadow"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 mr-1 items-start align-middle"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            ></path>
          </svg>
           Explore
        </a>
      </div>
    </section>

    <section class="w-full mt-16 sm:mt-20 md:mt-12">
      <div class="container mx-auto">
        <div class="mx-auto px-6 py-3 mb-2">
          <h2 class="font-bold text-3xl text-white">Recently Added</h2>
        </div>
        <RecentCards pages={pages} />
      </div>
    </section>

    <div class="mt-20"><Footer /></div>
  </body>
</html>
